.card{
    height: max-content;
    max-height: 50vh;
}

.cardInfo{
    display: flex !important;
    flex-direction: row !important;
    gap: 0.2rem !important;
    justify-content:flex-end !important;
    align-items: baseline !important;
}

.button{
      color: white !important;
    background-color:#a91111 !important ;
    border: none !important;
}
.button:hover{
    box-shadow:0px 1px 5px #a91111 !important;
}